<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ItemMapper">
  <cache />

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.PRODUCTID = #{value}
  </select>

  <select id="getItem" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity,
      I.COUNTLIKE AS countlike,
      I.COUNTVIEW AS countview
    FROM ITEM I, INVENTORY V, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.ITEMID = V.ITEMID
      AND I.ITEMID = #{value}
  </select>
  <select id="getInventoryQuantity" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
  </select>

  <update id="updateInventoryQuantity">
    UPDATE INVENTORY 
    SET QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
  </update>
  
 <insert id="insertItem" parameterType="Item">
 	<!-- keyProperty - Item.java에 있는 -->
 	<selectKey keyProperty="itemId" resultType="string" order="BEFORE">
 		SELECT SEQ_ID.NEXTVAL AS ITEMID FROM DUAL
 	</selectKey>
  	INSERT INTO ITEM
  	  (ITEMID, PRODUCTID, SELLERUSERNAME, LISTPRICE, ATTR1)
  	VALUES
  	  (#{itemId},(SELECT PRODUCTID FROM PRODUCT P, CATEGORY C WHERE P.CATEGORY=C.CATID AND C.CATID=#{product.categoryId} AND P.NAME=#{product.name}), #{sellerUsername}, #{listPrice}, #{attribute1})
  </insert>
  
  
  <insert id="updateQuantityForInsertItem" parameterType="Item">
  	<selectKey keyProperty="itemId" resultType="string" order="BEFORE">
 		SELECT SEQ_ID.CURRVAL AS ITEMID FROM DUAL
  	</selectKey>
  	INSERT INTO INVENTORY
      (ITEMID, QTY)
    VALUES
      (#{itemId}, 1)
  </insert>
  
  <!-- 좋아요 조회수 업데이트 기능 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  <update id="updateCountView">
    UPDATE ITEM 
    SET COUNTVIEW = COUNTVIEW + 1
    WHERE ITEMID = #{itemId}
  </update>
  
  <insert id="insertCountActivity" >
    INSERT INTO MYACTIVITY
      (FAVORITEID, USERID, ITEMID, KIND, PDATE)
    VALUES
      (favoriteid.NEXTVAL, #{param2}, #{param1}, 'see', SYSDATE)
  </insert>
  
  <update id="updateCountLike">
    UPDATE ITEM 
    SET COUNTLIKE= COUNTLIKE + 1
    WHERE ITEMID = #{itemId}
  </update>
  
  <insert id="insertCountLikeActivity" >
    INSERT INTO MYACTIVITY
      (FAVORITEID, USERID, ITEMID, KIND, PDATE)
    VALUES
      (favoriteid.NEXTVAL, #{param2}, #{param1}, 'like', SYSDATE)
  </insert>
  <!-- 좋아요 조회수 업데이트 기능 -->
</mapper>